<nav
  class="navbar navbar-expand-sm bg-primary navbar-dark d-flex justify-content-between sticky-top"
>
  <!-- Left side links (Home, Add, Contact) -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="employees"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="create-employee">Add</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li> -->
  </ul>

  <!-- Center search bar -->
  <!-- <form class="d-flex justify-content-center" style="flex-grow: 1">
    <input
      class="form-control"
      type="text"
      placeholder="Search by name"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      style="width: 300px; max-width: 100%"
    />
  </form> -->

  <!-- Right side theme toggle button -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item toggle-theme">
      <button class="btn btn-light ml-2" (click)="toggleTheme()">
        <ng-container *ngIf="isDarkMode; else lightMode">
          ☀️ Light Mode
        </ng-container>
        <ng-template #lightMode> 🌙 Dark Mode </ng-template>
      </button>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white text-center py-3 mt-4">
  <div class="container">
    <p class="mb-0">© 2024 A Project By Meyyappan R. All rights reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/privacy" class="text-white">Privacy Policy</a>
      </li>
      <li class="list-inline-item">
        <a href="/terms" class="text-white">Terms of Service</a>
      </li>
      <li class="list-inline-item">
        <a href="/contact" class="text-white">Contact Us</a>
      </li>
    </ul>
  </div>
</footer>
