.container {
  margin: 20px auto;
  max-width: 100%;
}

.mat-form-field {
  width: 150px;
  margin-bottom: 20px;
}

.mat-select {
  display: block;
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

button {
  margin-right: 5px;
}

table.mat-table {
  margin-bottom: 20px;
}
