<h2>Employee List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Id</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.emailId }}</td>
      <td>
        <!--div for edit and delete buttons-->
        <div class="container">
          <div class="row">
            <div class="col-auto">
              <button (click)="editEmployee(employee.id)" class="btn btn-info">
                Edit
              </button>
            </div>
            <div class="col-auto">
              <button
                (click)="deleteEmployee(employee.id)"
                class="btn btn-danger"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
